{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Websocket test</title>
  </head>
  <body>

    {% block content %}

    {% endblock %}

<!-- Bootstrap Bundle -->
{% comment %} <script src="{% static 'bootstrap.bundle.min.js' %}"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="{% static 'popper.min.js' %}"></script> {% endcomment %}
</body>
</html>