<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request accepted</title>
</head>

<body>
    <h2>Hi {% if receiver.first_name %} {{receiver.first_name}}{% endif %}!</h2>
    <p>{{sender.first_name}} has accepted your request to travel along with them on on <a href="{{post_link}}">this
            trip</a>!</p>

    <p>Here are some details about the trip:</p>
    <ul>
        <li>
            <p>Source: {{source}}</p>
        </li>
        <li>
            <p>Destination: {{destination}}</p>
        </li>
        <li>
            <p>Departure date: {{departure_date}}</p>
        </li>
        <li>
            <p>Departure time: {{departure_time}}</p>
        </li>
    </ul>
</body>

</html>